name: neobrutalist_ui_elements
description: "This is a collection of neobrutalist UI elements for Flutter. The elements are designed to be simple, minimalistic, and easy to use."
version: 0.2.1
maintainer: Kerem Abdullahoglu
repository: https://github.com/M3R3K/neobrutalist_ui_elements

environment:
  sdk: ^3.5.4
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:


